@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
  background-color: #000;
  color: #fff;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

a {
  color: #00a9e2;
}

#date {
  font-size: 2em;
  margin-bottom: 20px;
}

#imageContainer img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

a {
  color: #00a9e2;
}
